
@import 'font-awesome-compass';

// variables
$red: #861619;
$tablet: 756px;
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Francois+One);
$open_sans: 'Open Sans Condensed', sans-serif;
$francois: 'Francois One', sans-serif;

body {
  font-family: $francois ;
  h1 {
    font-family: $open_sans !important;
  }
}
